* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background-color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

nav {
    padding: 1rem 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #1a56db;
    text-decoration: none;
}

.nav-links>a {
    color: #AAB3BF;
    margin-left: 1rem;
    text-decoration: none;
}

.nav-home,
.nav-contact {
    color: #AAB3BF;
    font-weight: 400;
}

.nav-about,
.nav-projects {
    color: #A7B0BD;
    font-weight: 700;
}

.hero {
    background-image: url('hero-bg.png');
    background-size: cover;
    background-position: center;
}

.hero>.container {
    padding: 4rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.hero-content h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #414B5C;
}

.hero-content p {
    max-width: 346px;
    height: 63px;
    font-weight: 400;
    top: 96px;
    left: 84.25px;
    color: #A4ACBA;
}

.custom-button:hover {
    background-color: blue;
    /* A slightly darker green when hovering */
}


.circle {
    background-color: #E7ECF2;
    width: 189px;
    height: 188px;
    top: 2px;
    left: 2px;
    border-radius: 93px;
    border: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}